include ../wrapper/wrapper
include ../fourth/fourth
include ../advantage/advantage

mixin advantages()
	+b.advantages
		+wrapper
			+fourth({mod: 1})
				+advantage({mod: 1})
			+fourth({mod: 1})
				+advantage({mod: 2})
			+fourth({mod: 1})
				+advantage({mod: 3})
			+fourth({mod: 1})
				+advantage({mod: 4})
			
		
