include ../wrapper/wrapper
include ../fourth/fourth
include ../advantage/advantage

mixin advantages()
	+b.advantages
		+wrapper
			+fourth
				+advantage
			+fourth
				+advantage
			+fourth
				+advantage
			+fourth
				+advantage
			
		
