mixin advantage(data)

	-data = data || {}
		
	if (data.mod === 1 || !data.mod)
		+b.advantage
			+e('h3').title $0
			+e('p').text Use industry-leading translation automation technologies without any 
				b license payments

	if (data.mod === 2 || !data.mod)
		+b.advantage
			+e('h3').title 15
				+e('span').up-text %
			+e('p').text Boost profitability: centralization of TMs and glossaries increases leverage,
				b reduces costs
				
	if (data.mod === 3 || !data.mod)
		+b.advantage
			+e('h3').title 30
				+e('span').down-text seconds
			+e('p').text 
				b Find the best
				|  translators and editors for new projects in any language pair
				
	if (data.mod === 4 || !data.mod)
		+b.advantage
			+e('h3').title 50
				+e('span').up-text %
			+e('p').text Use 
				b Save time
				|  on project management and payments
