.advantage
	display block
	margin-top 30px

	&__title
		display inline-block
		color $sc-pink
		font-size 50px
	&__text
		display inline-block
		margin-top 9px
		color $sc-normGreyPlus
		font-size 16px
		line-height 1.25
		b
			font-weight 700
			color $sc-fontBlackPlus

	&__up-text
		vertical-align super
		font-size 28px
		margin-left -5px

	&__down-text
		font-size 18px
		margin-left -5px
