mixin f-list()
	+b.f-list
		+e('span').title Фрилансерам:
		+e('ul')
			+e('li')
				+e(href='#').link Регистрация для фрилансеров
			+e('li')
				+e(href='#').link Общая информация
			+e('li')
				+e(href='#').link SmartCAT для фрилансеров
			+e('li')
				+e(href='#').link Как работать в SmartCAT
			+e('li')
				+e(href='#').link Работа переводчиком
			+e('li')
				+e(href='#').link Работа для фрилансеров
