.hard-form
	display block
	margin-top 126px
	margin-left auto
	margin-right 0
	width 100%
	max-width 420px
	padding 26px
	height 344px
	border-radius 2px
	border-radius 2px
	transition 0.7s
	background-color $sc-white
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
	+below(767px)
		padding 26px 20px
		margin 0 auto
		margin-top 20px

	input
		font-size 13px
		width 100%
		color $sc-liteGrey
		padding-bottom 5px
		border none
		color $sc-fontBlackPlus
		border-bottom 1px solid $sc-liteGrey
		&:focus
			color $sc-normGrey
			border-bottom 2px solid $sc-normGreen
			padding-bottom 4px
		&.error-for-form
			border-bottom 2px solid red
			padding-bottom 4px

	input[type='submit']
		display inline-block
		border none
		width auto
		padding 9px 47px
		font-size 18px
		color $sc-white
		border-radius 2px
		background $sc-normGreen
		transition 0.3s
		&:hover
			background $sc-liteGreen
		&:visited
			background $sc-hardGreen

	&__title
		font-size 32px
		font-weight 300
		color $sc-fontBlack
		display block
		font-family 'Roboto Light', sans-serif
		text-align center
		transition 0.7s
		+below(767px)
			font-size 24px


	&__section
		display block
		width 100%
		margin-top 19px
		padding-bottom 3px
		position relative

	&__error-block
		position absolute
		color red
		font-size 11px
		top 23px
		left 0
		&:empty
			display none

	&__section-one-triple
		display inline-block
		width 35%
		margin-top 19px
		padding-bottom 3px
		box-sizing border-box
		padding-right 24px
		position relative

	&__section-two-triple
		display inline-block
		width 65%
		margin-top 19px
		padding-bottom 3px
		box-sizing border-box
		position relative

	&__button
		display block
		margin-top 24px
		padding-bottom 3px
		text-align center

	&__text
		display block
		text-align center
		margin 0 auto
		font-size 11px
		color $sc-Grey
		margin-top 15px

	&__link
		color $sc-Grey
		transition 0.3s
		&:hover
			color $sc-normGreen
