mixin main-text()
	+b.main-text
		+e('h2').title New Opportunities for LSPs
		+e('p').text SmartCAT is the first professional CAT solution with a complete set of modern technologies for translation automation and access to a fast growing pool of 70,000+ translators and editors from 65+ countries worldwide.
