mixin f-title()
	+b.f-title
		+e.left-block
			+e(href='#').logo-footer
				img(src="./assets/images/logo-footer.png", alt="")
			+e(href='mailto:support@smartcat.ai').mail support@smartcat.ai
		+e.group-link
			+e(href='#').link Контакты
			+e(href='#').link Пресс-центр
			+e(href='#').link Smartcat Блог
