.fourth
	display inline-block
	width 23.5%
	box-sizing border-box
	vertical-align top
	margin-right 1.5%
	+below(767px)
		width 41%
		margin-right 9%
	+below(374px)
		width 47%
		margin-right 3%
	&:last-child
		margin-right 0

	&_stages
		+below(500px)
			display block
			width 100%
