include ../blocks/title-screen/title-screen
include ../blocks/text/text
include ../blocks/title/title
include ../blocks/hard-form/hard-form

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Test SmartCat';

block content
	+title-screen
