include ../blocks/title-screen/title-screen
include ../blocks/advantages/advantages

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Test SmartCat';

block content
	+title-screen
	+advantages
