include ../blocks/title-screen/title-screen
include ../blocks/advantages/advantages
include ../blocks/stages/stages
include ../blocks/sign/sign
include ../blocks/footer/footer

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Test SmartCat';

block content
	+title-screen
	+advantages
	+stages
	+sign
	+footer
