.social
	display block
	margin-top 20px
	text-align right
	img
		position relative
		top 50%
		margin-top -7px

	&__follow
		font-size 13px
		color $sc-frontFooter
		vertical-align text-top
		display inline-block
	&__link
		display inline-block
		height 32px
		width 32px
		background #616161
		margin-left 4px
		border-radius 2px
		text-align center
		&:hover
			background $sc-frontFooter
