mixin social()
	+b.social
		+e('span').follow Follow us: 
		+e(href='#').link
			img(src="./assets/images/social-fb.png", alt="")
		+e(href='#').link
			img(src="./assets/images/social-twitter1.png", alt="")
		+e(href='#').link
			img(src="./assets/images/social-linkedin1.png", alt="")
		+e(href='#').link
			img(src="./assets/images/youtube.png", alt="")
