.top-btn-group
	position absolute
	top 16px
	right 12px
	display inline-block
	vertical-align middle

	&__opacityButton
		display inline-block
		border 1px solid $sc-white
		text-decoration none
		font-size 15px
		color $sc-white
		border-radius 2px
		padding 8px 14px
		margin-right 15px
		&:hover
			background $sc-liteGreen
			border none
			padding 9px 15px
		&:focus
			background $sc-hardGreen
			border none
			padding 9px 15px
		+below(400px)
			margin-right 0px

	&__normalButton
		display inline-block
		text-decoration none
		font-size 15px
		color $sc-white
		border-radius 2px
		padding 9px 15px
		transition 0.3s
		margin-right 14px
		background: $sc-normGreen
		&:hover
			background $sc-liteGreen
		&:focus
			background $sc-hardGreen
		+below(376px)
			display none

	&__lang
		display inline-block
		text-decoration none
		border-radius 50%
		vertical-align middle
		&:hover
			opacity 0.7
			transition 0.3s
		+below(376px)
			display none
