include ../wrapper/wrapper
include ../fourth/fourth
include ../fourth-two/fourth-two
include ../one/one
include ../stage/stage
include ../title-stages/title-stages

mixin stages()
	+b.stages
		+wrapper
			+one({mod: 1})
				+title-stages
			+one({mod: 2})
				+fourth-two
					+stage({mod: 1})
				+fourth-two
					+stage({mod: 2})
				+fourth-two
					+stage({mod: 3})
				+fourth-two
					+stage({mod: 4})
