include ../double/double
include ../f-title/f-title
include ../f-list/f-list
include ../social/social
include ../f-info/f-info

mixin footer()
	+b.footer
		+f-title
		+double
			+f-list
			+f-list
		+double
			+social
			+f-info
