.f-info
	display block
	height 100%
	&__line
		display block
		text-align right
		margin-top 50px
		+below(1425px)
			margin-top 10px
	&__line-two
		display block
		text-align right
		margin-top 1px
		+below(900px)
			display none
	&__f-block
		display inline-block
		margin-right 16px
		+below(1425px)
			display block
			margin-right 0
		&:last-child
			margin-right 0
	&__text
		font-size 13px
		color $sc-frontFooter
		display inline-block
		width 100%
		max-width 270px
		margin-right 16px
		vertical-align top
		text-align left
		+below(900px)
			display inline
			max-width 210px
			min-width 100px
			margin-right 0
			float left
		+below(450px)
			margin-right 0
			width 160px
	&__mixpanel
		display inline-block
	&__pay
		display inline-block
		vertical-align middle
		vertical-align -webkit-baseline-middle
		margin-right 16px
		&:last-child
			margin-right 0
		img
			max-width 50px
	&__info-text
		display inline-block
		width 270px
		margin-right 16px
		text-align left
		vertical-align bottom
	&__info
		font-size 13px
		color $sc-frontFooter
	&__sk
		display inline-block
		width 114px
		text-align left
		vertical-align middle
		vertical-align -webkit-baseline-middle
		img
			max-width 65px
