.sign-info
	display block
	margin-bottom 18px
	&:first-child
		margin-bottom 31px
		+below(980px)
			margin-bottom 18px
	&:last-child
		padding-bottom 41px


	&__title
		font-size 28px
		margin-bottom 13px
		color $sc-fontGrey

	&__text
		font-size 16px
		line-height 1.25
		color $sc-normGreyPlus

	&_m-to-btm
		margin-bottom 42px
